@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Quicksand:wght@300..700&display=swap');

html {
    height: 100%;
}

#myGamesRow:hover {
    cursor: pointer;
    background-color: #ffe0b2
}